html,body
{
    height:100%;
    margin :0   
}
body
{   
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(53, 230, 224);
}
#maindiv
{
    display:flex;
    background-color: rgb(37, 36, 36);
    flex-direction : column;
    justify-content: center;
    align-items: center;
    height:500px;
    width : 350px;  
    border : 5px solid black;
    
}   


#displaybar
{
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 1;
    width : 100%;
    border-bottom:5px solid black;
    font-size: 25px;
    background-color: black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    color:blue;
    font-size:35px;
}

*
{
    margin : 0px;
    padding:0px;
}



#numericals
{
    display: flex;
    flex-direction: column;
}

#bottomhalf
{
    display:flex;
    width : 100%;
    height:80%;
    margin-top: 3px;
    margin-bottom: 5px;
    
}

#bottomright,#bottomleft
{
    display:flex;
    flex-direction: column;
    height : 100%;
    width : 100%;
}   

#bottomleft
{
    width : 300px;
    flex-shrink: 0;
}

#bottomright
{
    padding-right: 1px;
}

#firstrow, #secondrow, #thirdrow, #fourthrow, #fifthrow
{
    display: flex;
    flex-grow: 1;
    margin:1px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #equal, #decimal, #clear, #delete, #add
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    margin:1px;
    border : 3px solid black;
    font-size: 15px;
}

#divide, #multiply, #sub
{
    display: flex;
    flex-grow:1;    
    align-items: center;
    justify-content: center;
    margin : 1px;
    border: 3px solid black;

}

#clear
{
    background-color: rgb(202, 34, 34);
    font-size:15px;
}

#equal
{
    background-color: greenyellow;
}

#add,#sub, #multiply, #divide
{
    background-color: rgb(203, 192, 192);
    font-size: 25px;
}

#delete
{
    background-color: rgb(73, 73, 200);
    font-size:15px;
}

#decimal
{
    font-size: 30px;
}