html,body
{
    height:100%;
    margin :0   
}
body
{
    align-items: center;
    justify-content: center;
    display: flex;
}
#maindiv
{
    display:flex;
    background-color: aliceblue;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    height:500px;
    width : 350px;  
    border : 3px solid black;
    
}   


#displaybar
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width : 100%;
    border-bottom:5px solid black;
}
*
{
    margin : 0px;
    padding:0px;
}



#numericals
{
    display: flex;
    flex-direction: column;
}

#bottomhalf
{
    display:flex;
    width : 100%;
    height:80%;
    margin-top: 3px;
    margin-bottom: 5px;
}

#bottomright,#bottomleft
{
    display:flex;
    flex-direction: column;
    height : 100%;
    width : 100%;
    padding:2px;
    
}   

#bottomleft
{
    width : 1200px;
}


#firstrow, #secondrow, #thirdrow, #fourthrow, #fifthrow
{
    display: flex;
    flex-grow: 1;
    margin:1px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #equal, #decimal, #clear, #delete, #add
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    margin:1px;
    border : 3px solid black;
    font-size: 15px;
}

#divide, #multiply, #sub
{
    display: flex;
    flex-grow:1;    
    align-items: center;
    justify-content: center;
    margin : 1px;
    border: 3px solid black;

}

#clear
{
    background-color: rgb(202, 34, 34);
}

#equal
{
    background-color: greenyellow;
}

#add,#sub, #multiply, #divide
{
    background-color: rgb(203, 192, 192);
    font-size: 25px;
}